.v-flex{
    display: flex;
    flex-direction: column !important;
}
.large-text{
    font-size: xx-large;
}

.space-top{
    margin-top: 24px;
}

.btn-text{
    text-decoration: none !important;
    color: white !important;
}

.card{
    background-color: antiquewhite;
}

.space{
    margin-top:8px;
    margin-bottom: 8px;
}

.fix-width{
    width: fit-content;
}